<div class="row">

  <div class="col-2">
    <button type="button" class="btn btn-secondary" (click)="buildRecordedCharts()">Load test</button>
    <button type="button" class="btn btn-secondary d-block" (click)="clearCharts()">Clear test</button>
  </div>

  <div class="col-11">
    <app-smooth-saccade-real-time-chart #realTimeElement></app-smooth-saccade-real-time-chart>
    <app-smooth-saccade-vertical-chart #verticalMovementElement></app-smooth-saccade-vertical-chart>
    <app-smooth-saccade-horyzontal-chart #horizontalMovementElement></app-smooth-saccade-horyzontal-chart>
    <app-smooth-saccade-movement-chart #movementElement></app-smooth-saccade-movement-chart>
    <app-smooth-saccade-velocity-chart #horizontalVelocityElement></app-smooth-saccade-velocity-chart>
    <app-smooth-saccade-velocity-chart #verticalVelocityElement></app-smooth-saccade-velocity-chart>
  </div>

</div>
