<h1>Movement chart</h1>
<svg #chart></svg>
<div class="frame">
    <table *ngFor="let range of testResults; let i = index" class="range-table">
        
        <tbody>
            <td>
                {{range.type}}
                {{range.angle}}
            </td>
            <td>
                <table>
                    <thead *ngIf="i === 0" class="bold-text">
                        <th>TYPE</th>
                        <th>Latency</th>
                        <th>Peak velocity</th>
                        <th>Accuracy</th>
                        <th>Result</th>
                    </thead>
                    <tr class="bold-text">
                        Accept {{range.accept}}
                        <br>
                        Error patient {{range.errorPatient}}
                        <br>
                        Error system {{range.errorSystem}}
                    </tr>
                    <tr *ngFor="let saccade of range.saccadesTestResults">
                        <ng-container *ngIf="saccade.result == 'accept'; else error">
                            <td>{{saccade.type}}</td>
                            <td>{{saccade.latency}}</td>
                            <td>{{saccade.peakVelocity | number : '1.0-0'}}</td>
                            <td>{{saccade.amplitude}}</td>
                            <td>{{saccade.result}}</td>
                        </ng-container>
                        
                        <ng-template #error>
                            <td>{{saccade.type}}</td>
                            <td>{{saccade.result}}</td>
                            <td>{{saccade.result}}</td>
                            <td>{{saccade.result}}</td>
                            <td>{{saccade.result}}</td>
                        </ng-template>
                    </tr>
                </table>
            </td>
        </tbody>
    </table>
</div>


